* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #94c11e;
    position: relative;
    font-family: "Verdana";
}


#logo-wrapper {
    position:relative;
    height: 100%;
    width:100%;
    text-align: center;
}


#logo-wrapper>div{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 500;
    height: 400;

}

#logo-wrapper #logo{
        width: 250px;
    height: auto;
    margin-bottom: 10px;
}

#logo-wrapper span{
    font-size: 2rem;
    font-weight: bold;
    display: block;
    color: #004400;

}


.edge-image{
    width: 70vw;
    height: 60vh;
    position: absolute;
        background-position: center;
    background-size: cover;
    
}

#edge-image-top{
    top: 0;
    left: 0;
    background-image: url("../img/protest.jpg");
    clip-path: polygon(0 0, 0 60vh, 70vw 0);
    -webkit-clip-path: polygon(0 0, 0 60vh, 70vw 0);
}

#edge-image-bottom{
    bottom: 0;
    right: 0;
    background-image: url("../img/ladeuze.jpg");
    clip-path: polygon(0 60vh,70vw 0, 70vw 60vh);
    -webkit-clip-path: polygon(0 60vh,70vw 0, 70vw 60vh);

}

#fb-link{
    width: 150px;
    height: auto;
}